<a href="https://colab.research.google.com/github/roum02/python/blob/main/04_1_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def sum(a,b):
  return a + b

In [ ]:
a = 3
b = 4
c = sum(a,b)
print(c)

7

In [ ]:
def say():
  return 'Hi'

In [ ]:
say()

'Hi'

In [ ]:
#결과값이 없는 문장.
#print를 사용하였을 때, 이것은 결과값이 아니라, '수행할 문장'에 해당하는 부분일 뿐이다.

def sum(a,b):
  print("%d, %d의 합은 %d 입니다."%(a,b,a+b))

In [ ]:
a = sum(3,4)
print(a)

3, 4의 합은 7 입니다.
None

In [ ]:
#입력값이 몇 개가 될지 모르는 경우
# *args 처럼 입력 변수명 앞에 *을 붙이면 입력값들을 전부 모아서 튜플로 만들어준다.
#여러 개의 입력값을 모두 더하는 함수

def sum_many(*args):
  sum = 0
  for i in args:
    sum = i + sum
  return sum

In [ ]:
result = sum_many(1,2,3)
print(result)

6

In [ ]:
def sum_mul(choice, *arg):
  if choice == "sum":
    result = 0
    for i in arg:
      result = i + result
  elif choice == "mul":
    result = 1
    for i in arg:
      result = i * result
  return result

In [ ]:
sum_mul("mul", 1,2,3,4,5)

120

In [ ]:
#함수의 결과값은 언제나 하나이다.

def sum_and_mul(a,b):
  return a+b, a*b

In [ ]:
result = sum_and_mul(3,4)
print(result)

(7, 12)

In [ ]:
sum, mul = sum_and_mul(3,4)
print(sum, mul)

7 12

In [ ]:
def sum_and_mul(a,b):
  return a+b
  return a*b

In [ ]:
result = sum_and_mul(3,4)
print(result)

7

In [ ]:
#return의 또 다른 쓰임새
def say_nick(nick):
  if nick == "바보":
    return
  print("나의 별명은 %s입니다." % nick)

In [ ]:
say_nick("바보")

In [ ]:
say_nick("바보탱")

나의 별명은 바보탱입니다.

In [ ]:
#입력 인수에 초깃값 미리 설정하기
def say_myself(name, old, woman=True):
  print("나의 이름은 %s입니다." %name)
  print("나이는 %d살 입니다." %old)
  if woman:
    print("여자입니다.")
  else:
    print("남자입니다.")

#단, 초깃값 설정한 변수는 맨 마지막에 적어야 한다.

In [ ]:
say_myself("박응용",27)

나의 이름은 박응용입니다.
나이는 27살 입니다.
여자입니다.

In [ ]:
#함수 안에서 선언된 변수의 효력 범위
a = 1
#del(a)
def vartest(a):
  a = a + 1
  return a

vartest(a)

2

In [ ]:
def vartest_error(a):
  a = a + 1

vartest_error(3)
print(a)

NameError: ignored

In [ ]:
#함수 안에서 함수 밖의 변수를 변경하는 방법
#1. return 이용하기

a = 1
def vartest(a):
  a = a+1
  return a

a = vartest(a)
print(a)

2

In [ ]:
# 2. global 명령어 사용하기

a = 1
def vartest():
  global a
  a = a+1

vartest()
print(a)

#그러나 프로그래밍을 할 때 global을 사용하지 않는 것이 좋다. 왜냐하면 함수는 독립적으로 존재하는 것이 좋기 때문이다.
#외부 변수에 종속적인 함수는 좋은 함수가 아니다. 따라서 첫 번째 방법을 사용하갈 권한다.

2